<h1>Stimulus Example</h1>

<div data-controller="hello">
  <span data-target="hello.output"></span>
  <button class="user-menu" data-action="contextmenu->hello#showcontextmenu">
    <span class="user-menu--context-menu" data-target="hello.context" hidden>
      Menu item<br/>
      Menu item 1<br/>
      Menu item 2<br/>
    </span>
    Alert BAS
  </button>
</div>