<% content_for :action_name,
               render('layouts/shared/current_action',
                      parent_page: 'index')
%>
<%= content_for :page_title, 'Posts index' %>

<h1>Posts#index</h1>
<p>Find me in app/views/posts/index.html.erb</p>
