<% content_for :action_name,
               render('layouts/shared/current_action',
                      parent_page: 'new')
%>
<%= content_for :page_title, 'New post' %>

<h1>Posts#new</h1>


<%= form_with model: @post do |form| %>
  <%= form.text_area :body %>
  <%= submit_tag %>
<% end %>