<% content_for :action_name,
               render('layouts/shared/current_action',
                      parent_page: 'show')
%>
<%= content_for :page_title, 'Posts details' %>

<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
